# _site since using jekyll-paginate-v2 plugin, i need to upload generated site, too
.sass-cache
.jekyll-metadata
node_modules
_blog-posts-ideas.md
_backlog.md
frontend/_drafts
knihy/_drafts
notes/_drafts