{% comment %}
  Next prev navigation
{% endcomment %}

{% if page.categories %}
  {% assign category = page.categories[0] %}
  {% assign posts = site.categories[category] %}
  {% for post in posts %}
    {% if post.url == page.url %}
      {% assign post_index0 = forloop.index0 %}
      {% assign post_index1 = forloop.index %}
    {% endif %}
  {% endfor %}
  {% for post in posts %}
    {% if post_index0 == forloop.index %}
      {% assign next_post = post %}
      {% assign next_post_url = post.url %}
      {% assign next_post_title = post.title %}
    {% endif %}
    {% if post_index1 == forloop.index0 %}
      {% assign prev_post = post %}
      {% assign prev_post_url = post.url %}
      {% assign prev_post_title = post.title %}
    {% endif %}
  {% endfor %}
{% endif %}

  <script>
  document.body.onkeyup = function(e){
  if (e.keyCode == '37') { window.location = '{{prev_post_url}}'; }
  if (e.keyCode == '39') { window.location = '{{next_post_url}}'; }
  };
  </script>

  <div class="single-nav">
  {% if prev_post %}
    <a href="{{prev_post_url}}" class="single-nav__item single-nav__item--prev">
      <p class="single-nav__caption">Předchozí:</p>
      <h3>{{prev_post_title}}</h3>
    </a>
  {% endif %}
  {% if next_post %}
    <a href="{{next_post_url}}" class="single-nav__item single-nav__item--next">
      <p class="single-nav__caption">Další:</p>
      <h3>{{next_post_title}}</h3>
    </a>
  {% endif %}
  </div>