@include component((
    'small': 32.5em,
    'floatingImage': 67em,
)) {
    .article {
        h1, h2, h3, h4, h5, h6,
        p, ul, ol, dl, blockquote, figure,
        table, pre {
            @include center-content;
        }

        p {

            @include respond-to(medium) {
                text-align: justify;
            }
        }

        blockquote {
        position: relative;
        border-left: 3px solid palette(gray, light);
        padding-left: ($vr / 2);
        right: ($vr / -2);

            @include respond-to(medium) {
                left: ($vr / -2);
                right: auto;
                padding-right: 0;
            }
        
            p {
                padding: 0;
                padding-right: ($vr / 2);
                
                @include respond-to(medium) {
                    padding-left: $vr;
                }
            }
        }


        .article__header {
            margin-top: (1 * $vr);

            @include respond-to(large) {
                text-align: center;
                margin: (2 * $vr);
            }
        }

        .article__title {
            @include huge-type;
            font-weight: bold;
            text-transform: uppercase;
            margin-left: auto !important;
            margin-right: auto !important;
            
            @include respond-to(large) {
                max-width: 1200px;
            }
        }

        .article__subtitle {
            @include type-setting(0);
            font-style: italic;
            font-weight: normal;
            margin-top: 0;
            margin-bottom: (1 * $vr);
        }

        .article__book-author {
            @include type-setting(0);
            font-variant: small-caps;
            margin-bottom: (0.5 * $vr);

            @include respond-to(large) {
                text-align: center;
            }

            &::before {
                content: '';
                display: block;
                width: (1 * $vr);
                height: 2px;
                background: palette(gray, light);
                margin: (0.5 * $vr) 0;

                @include respond-to(large) {
                    margin: 1 * $vr auto;
                }
            }
        }

        .article__date {
            @include type-setting(-1);
            margin-top: ($vr * 2);
            padding-top: ($vr * 1);
            border-top: 1px solid palette(gray, light);
            text-align: center;
        }

        .article__book-thumbnail-wrapper {
            margin-bottom: 0;
            
            @include respond-to(small) {
                float: right;
                width: auto;
            }

            @include respond-to(floatingImage) {
                float: none;
                margin-right: auto;
            }
        }

        .article__book-thumbnail {
            width: 220px;
            display: block;
            margin: 0 0 (1 * $vr);
            
            @include respond-to(small) {
                float: right;
                display: inline;
                margin-bottom: ($vr / 2);
            }

            @include respond-to(floatingImage) {
                margin: 0 -110px ($vr / 2) $vr;
                float: right;
                display: block;
            }
        }

        .article__content {

            > p:first-child:first-letter {
                font-weight: bold;
                text-transform: uppercase;
                font-size: 5.3125rem;
                line-height: 3rem;
                float: left;
                padding-top: 15px;
                padding-right: 10px;
                margin-left: -5px;
            }
        }
    }
}
