.main-nav {
    padding-left: 0;
    @include respond-to(large) {        // temporary
        margin-top: ($vr * 0);          // temporary
    }                                   // temporary
}

.main-nav__category {
    @include type-setting(-1);
    text-transform: uppercase;
    font-weight: bold;
    color: palette(gray);
    padding: ($vr * 1.5) $vr ($vr / 2);
    border-bottom: 1px solid palette(gray, light); // temp
}

.main-nav__item {
    list-style-type: none;
    
    @include respond-to(large) {
        border-bottom: 1px solid palette(gray, light); // temp
    }
    
    + .main-nav__item {
        border-bottom: 1px solid palette(gray, light);
    }
}

.main-nav__link {
    @include nav-link;
    display: flex;
    flex-direction: column;
    
    @include respond-to(medium) {
        flex-direction: row;
    }
}

.main-nav__title {
    width: 400px;
    padding: $vr $vr 0;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1.2;
    position: relative;
    
    @include respond-to(medium) {

        &::after {
            @include arrow;
            display: inline-block;
            position: absolute;
            right: 0;
            top: 40px;
        }
    
        padding: $vr;
        text-align: right;
    }
}

.main-nav__desc {
    padding: $vr;
    max-width: 780px;
    color: palette(black) !important;
}