.post-thumbnail__list {
    padding-left: 0;
}

.post-thumbnail {
    list-style-type: none;

    + .post-thumbnail {
        border-top: 1px solid palette(gray, light);
    }
}

.post-thumbnail__inner {
    @include media-object;
    flex-direction: column;
    margin: 0 auto ($vr * 2);
    padding: $vr $vr 0;
    max-width: 960px;
    
    @include respond-to(medium) {
        padding: ($vr * 2) $vr 0;
        flex-direction: row-reverse;
    }
    
    @include respond-to(large) {
        margin: 0 0 ($vr * 2);
        padding: ($vr * 2) $vr 0 ($vr * 2);
    }
}

.post-thumbnail__image-wrapper {
    @include media-object__side;
    margin-bottom: ($vr / 2);
    
    @include respond-to(medium) {
        position: relative;
        top: $vr;
        margin-right: 0;
        margin-left: $vr;
    }
}

.post-thumbnail__image {
    max-width: 220px;
}

.post-thumbnail__content {
    @include media-object__body;
    max-width: 620px;
}

.post-thumbnail__title {
    @include type-setting(2);
    line-height: 2rem;
    margin-bottom: ($vr / 2);
    @include ff--body;
    font-weight: bold;
    text-transform: uppercase;
    
    a {
        color: palette(black);
    }
}

.post-thumbnail__author {
    @include type-setting(-1);
    font-variant: small-caps;
    margin-bottom: 0;
    position: relative;
    top: -4px;
}

.post-thumbnail__text {
    margin-bottom: $vr;
    
    a {
        @include link-underline;
    }
}

.post-thumbnail__more-link {
    @include link-underline;
}