.single-nav {
    @include clearfix;
    width: 100%;
    max-width: 780px;
    margin: ($vr * 1) auto 0;
    border-top: 1px solid palette(gray, light);

    h3 {
        @include type-setting(0);
        font-style: normal;
        line-height: 1.25;
        padding: 0 ($vr / 2) ($vr / 2);
    }
}

.single-nav__item {
    width: 100%;
    float: left;
    padding-top: ($vr / 2);

    @include respond-to(medium) {
        width: 50%;
    }

    &:hover {
        background: palette(gray, light);
    }
}

.single-nav__item--next {
    float: right;
    border-top: 1px solid palette(gray, light);
    
    @include respond-to(medium) {
        text-align: right;
        border-top: none;
    }
}

.single-nav__caption {
    @include type-setting(-1);
    color: palette(black);
    padding: 0 ($vr / 2);
}
