---
layout: default
---
<article class="article">

  <header class="article__header">
    <h1 class="article__title">
      {{ page.title | escape }}
    </h1>
    {% if page.subtitle %}
    <h2 class="article__subtitle">
      {{ page.subtitle }}
    </h2>
    {% endif %}
    {% if page.author %}
      <p class="article__book-author">
        {{ page.author }}
      </p>
    {% endif %}
  </header>

  <div>
    <span class="article__content">
      {{ page.excerpt }}
      {% include book-image.html %}
      {{ content }}
    </span>
  </div>

  <p class="article__date">
    <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
      {{ page.date | date: "%b %-d, %Y" }}
    </time>
  </p>
</article>



  {% include single-nav.html %}
  
  {% if page.tags %}
    <ul class="tag-list tag-list--aligned">
    {% assign sorted_tags = page.tags | sort %}
      {% for tag in sorted_tags %}
        {% if page.categories contains 'cat-book' %}
          {% assign slug = 'knihy' %}
        {% elsif page.categories contains 'cat-frontend' %}
          {% assign slug = 'frontend' %}
        {% elsif page.categories contains 'cat-note' %}
          {% assign slug = 'notes' %}
        {% endif %}
        <li class="tag-list__item">
          <a href="/{{ slug }}/tagy/{{ tag }}"><h4 class="tag-list__tag">{{ tag }}</h4></a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

{% comment %}
{% endcomment %}

  {% if site.disqus.shortname %}
  {% include disqus_comments.html %}
  {% endif %}
