---
layout: default
---
<article class="article">

  <header class="article__header">
    <h1 class="article__title">
      {{ page.title | escape }}
    </h1>
    {% if page.subtitle %}
    <h2 class="article__subtitle">
      {{ page.subtitle }}
    </h2>
    {% endif %}
    {% if page.author %}
      <p class="article__book-author">
        {{ page.author }}
      </p>
    {% endif %}
  </header>

  <div>
    <span class="article__content">
      {{ page.excerpt }}
      {% include book-image.html %}
      {{ content }}
    </span>
  </div>

  <p class="article__date">
    <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
      {{ page.date | date: "%b %-d, %Y" }}
    </time>
  </p>
</article>



  {% include single-nav.html %}

  

{% comment %}

  {% for category_name in page.categories limit:5 %}
    <h4>{{ category_name }}</h4>
  {% endfor %}

  {% for tag_name in page.tags limit:50 %}
    <h4>{{ tag_name }}</h4>
  {% endfor %}

{% endcomment %}

  {% if site.disqus.shortname %}
  {% include disqus_comments.html %}
  {% endif %}
