---
layout: default
---

{% comment %}
  toto se hodne kreje s _layout/tag.html a _layout/tags.html, bylo by fajn to modularizovat
{% endcomment %}

<div class="l-wrapper">
  <header class="l-sidebar">
      <div class="l-sidebar__content">
          {% if page.avatar %}
            <img src="{{site.url}}/assets/{{ page.avatar }}" alt="" class="avatar">
          {% else if %}
            <img src="{{site.url}}/assets/avatar.jpg" alt="" class="avatar">
          {% endif %}
        <h1 class="section__heading">{{ page.title }}{{ page.hometitle }}</h1>
        {{ page.description }}

        {% include tag-list.html %}
    </div>
  </header>


  <div class="l-main {{ page.class }}">
      
      {{ content }}
              
      <!-- 
          Showing buttons to move to the next and to the previous list of posts (pager buttons).
        -->
        {% if paginator.total_pages > 1 %}
        <ul class="pager">
            {% if paginator.previous_page %}
            <li class="pager__item">
                <a class="pager__link pager__link--newer" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">Novější</a>
            </li>
            {% endif %}

            {% if paginator.page_trail %}
              {% for trail in paginator.page_trail %}
                {% assign trailPath = trail.path | prepend: site.baseurl %}
                
                <li class="pager__item">
                  <a class="pager__link {% if page.url == trailPath %} pager__link--selected {% endif %}" href="{{ trailPath }}" title="{{trail.title}}">{{ trail.num }}</a>
                </li>
              {% endfor %}
            {% endif %}

            {% if paginator.next_page %}
            <li class="pager__item next">
                <a class="pager__link pager__link--older" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Starší</a>
            </li>
            {% endif %}
        </ul>
        {% endif %}

  </div>
</div>