---
layout: default
---

{% comment %}
  toto se hodne kreje s _layout/tag.html a _layout/tags.html, bylo by fajn to modularizovat
{% endcomment %}

<div class="l-wrapper">
  <header class="l-sidebar">
      <div class="l-sidebar__content">
          {% if page.avatar %}
            <img src="{{site.url}}/assets/{{ page.avatar }}" alt="" class="avatar">
          {% else if %}
            <img src="{{site.url}}/assets/avatar.jpg" alt="" class="avatar">
          {% endif %}
        <h1 class="section__heading">{{ page.title }}{{ page.hometitle }}</h1>
        {{ page.description }}

        {% include tag-list.html %}
    </div>
  </header>


  <div class="l-main {{ page.class }}">
      
      {{ content }}
              
      {% if paginator.total_pages > 1 %}
      <ul>
        {% if paginator.previous_page %}
        <li>
          <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
        </li>
        {% endif %}
        {% if paginator.next_page %}
        <li>
          <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
        </li>
        {% endif %}
      </ul>
      {% endif %}

  </div>
</div>